<footer>
    <div class="container">
        <div class="row">
            <div class="footer">
                <div class="col-xs-12">
                    <p>Copyright {{ 'now'|date('Y') }} {{ 'seo.domain_name'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>