// Media query breakpoints
@mixin media($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-xs - 1) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $break-xs) and (max-width: $break-md - 1) {
      @content;
    }
  } @else if $media == tablet-landscape {
    @media only screen and (min-width: $break-md) and (max-width: $break-lg - 1) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-lg) {
      @content;
    }
  }
}

@mixin linear-gradient($top-color, $bottom-color, $opacity) {
  background: -moz-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str(rgba($top-color, $opacity))}', endColorstr='#{ie-hex-str(rgba($bottom-color, $opacity))}',GradientType=0 ); /* IE6-9 */
}