// General colors
$primary                      : #F64848;
$primary-dark                 : darken($primary, 10%);
$secondary                    : #098BCB;
$secondary-dark               : darken($secondary, 10%);
$tertiary                     : #252525;
$tertiary-dark                : darken($tertiary, 10%);

// Background colors
$bg-body                      : #F7F7F8;
$bg-primary                   : #FFFFFF;

// Typography colors
$color-light                  : #FFFFFF;
$color-primary                : #1C1C1C;
$color-links                  : $primary;

// Typography font
$font-family-base       : 'Montserrat', sans-serif;
$font-family-headers    : 'Montserrat', cursive;

$font-size-base         : 16px;
$font-size-small        : 0.875rem; // 14px
$font-size-large        : 1.125rem; // 18px
$font-size-h1           : 2.625rem; // 42px
$font-size-h2           : 1.75rem; // 28px
$font-size-h3           : 1.5rem; // 24px
$font-size-h4           : 1.3125rem; // 21px

$font-weight-light      : 300;
$font-weight-normal     : 400;
$font-weight-medium     : 500;
$font-weight-bold       : 700;

// Grid breakpoints
$break-xs               : 675px;
$break-sm               : 768px;
$break-md               : 992px;
$break-lg               : 1200px;