.btn {
  background: $tertiary;
  color: $color-light;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  padding: 15px 30px;

  &:hover {
    color: $color-light;
    background: $tertiary-dark;
    border-bottom: none;
    text-decoration: none;
    margin-bottom: 0;
  }

  &:focus {
    color: $color-light;
    background: $tertiary-dark;
    border-bottom: none;
    text-decoration: none;
    margin-bottom: 0;
  }

  &.btn--full-width {
    width: 100%;
  }

  &--back {
    margin-top: 30px;
    background: $secondary;

    &:hover {
      background: $secondary-dark;
    }

    &:focus {
      background: $secondary-dark;
    }
  }
}