{% embed 'shared/blocks/_content_block.html.twig' %}
    {% block body %}
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-12 no-margin">
                    <h2>Martijn Schram, front-end developer</h2>
                </div>
                <div class="col-xs-12">
                    <p>Als front-end developer werk je bijna nooit alleen. Je hebt te maken met alle fronten die je
                        binnen een scrum team kunt verwachten. Je overlegd met de stakeholder en ontwerper, spart met UX
                        specialisten en bent een bruggenbouwer met de back-end ontwikkelaars. Je zorgt ervoor dat het
                        visueel werkt zoals het team het voor ogen heeft, en functioneel verbonden is met de back-end.
                        En dat terwijl je tussendoor een meme plaatst op een pull request dat niet door de functionele
                        test kwam.</p>
                    <p>Tot zover heb ik voornamelijk gewerkt met webapplicaties dat op het Symfony framework worden
                        ontwikkeld. Daarnaast worden bepaalde functionaliteiten in React gebouwd of wordt een CMS zoals
                        Sulu CMS of Sonata admin ingericht met herbruikbare templates en blokken.</p>
                    <p>Naast het ontwikkelen in Javascript en kleine back-end onderdelen in Symfony zoals formulieren,
                        zie ik CSS graag in combinatie van de BEM methode en ATOM design. Zo is je code overzichtelijk
                        en beheerbaar. Daarnaast vind ik performance samen met toegankelijkheid belangrijk. Iets waar ik
                        mezelf aan kan ergeren zijn langzame fade-in animaties zonder toegevoegde waarde, en zware websites die
                        gemakkelijk sneller hadden kunnen zijn.</p>
                </div>
            </div>
        </div>
        <div class="xol-xs-12 col-sm-4">
            <img src="{{ asset('images/profile_picture_small.jpg') }}" class="img-responsive"
                 alt="Martijn Schram profielfoto">
        </div>
    {% endblock %}
{% endembed %}