{% embed 'shared/blocks/_content_block.html.twig' %}
    {% set block = {
        'additional_classes': 'content-block--hero js-hero'
    } %}
    {% block body %}
        <div class="col-xs-12 no-margin">
            <h1>Samen een toegankelijk <br/> en betrouwbaar product ontwikkelen.</h1>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-8">
            <p class="font-large">Een applicatie is meer dan alleen een mooi design, het zou ook
                betrouwbaar, snel en
                toegankelijk moeten zijn. En samen gaan we dat bereiken. Ik ben Martijn Schram, Front-end
                developer.</p>
        </div>
    {% endblock %}
{% endembed %}