{% embed 'shared/blocks/_content_block.html.twig' %}
    {% set block = {
        'additional_classes': 'content-block--case medical-background'
    } %}
    {% block body %}
        <div class="gradient-overlay gradient-overlay--secondary" id="anchor-2"></div>
        <div class="seperator seperator--top">
            {% spaceless %}
                <div class="seperator__left"></div>
                <div class="seperator__middle">
                    <i class="fas fa-angle-down" data-slide-target="#anchor-2"></i>
                </div>
                <div class="seperator__right"></div>
            {% endspaceless %}
        </div>
        <div class="col-xs-12 col-sm-5 col-md-7">
            <img src="{{ asset('images/medical_platform.png') }}" class="img-responsive"
                 alt="Symfony + optimalisatie impressie">
        </div>
        <div class="col-xs-12 col-sm-7 col-md-5">
            <div class="row">
                <div class="col-xs-12 no-margin">
                    <h2>Symfony + optimalisatie</h2>
                </div>
                <div class="col-xs-12">
                    <p class="font-medium">Een website dat gemakkelijk in gebruik en simpel te onderhouden
                        is? Dit project is extra geoptimaliseerd en werkt met een zeer gebruiksvriendelijk CMS op basis
                        van het Symfony framework.
                        <span class="case-status"></span></p>
                </div>
                <div class="col-xs-12">
                    <a href="{{ path('app_case_symfony') }}" class="btn">Meer informatie</a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}