{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include 'homepage/_intro_hero.html.twig' %}
            {% include 'homepage/_intro_case_musician.html.twig' %}
            {% include 'homepage/_intro_articles.html.twig' %}
            {% include 'homepage/_intro_case_medical.html.twig' %}
            {% include 'homepage/_intro_about.html.twig' %}
        </div>
    </div>
{% endblock %}