{% extends 'default/_template-example.html.twig' %}

{% block analytics %}
    {# Here you can overwrite the analytics block defined in 'base' even though you're extending '_template-example'. #}
{% endblock %}

{% block content %}
    {% embed 'shared/blocks/_content_block.html.twig' %}
        {% block header %}
            <h1>Example page</h1>
        {% endblock %}
        {% block body %}
            <p>This is just a example page. Nothing more, get on with it!</p>
        {% endblock %}
    {% endembed %}
{% endblock %}